In [72]:
from sqlalchemy import create_engine, text
engine = create_engine("sqlite+pysqlite:///my-db.sqlite", echo=True)

In [73]:
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-05-20 17:52:09,505 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:52:09,519 INFO sqlalchemy.engine.Engine select 'hello world'
2023-05-20 17:52:09,525 INFO sqlalchemy.engine.Engine [generated in 0.02049s] ()
[('hello world',)]
2023-05-20 17:52:09,535 INFO sqlalchemy.engine.Engine ROLLBACK

In [43]:
# with engine.connect() as conn:
#     # conn.execute(text("CREATE TABLE XYTable (x int, y int)"))
#     conn.execute(text("INSERT INTO XYTable (x, y) VALUES (:x, :y)"), [{"x": 2, "y":5}, {"x": 3, "y":7}, {"x": 5, "y":1}, {"x": 4, "y":9}])
#     conn.commit()

2023-05-20 17:21:17,687 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:21:17,691 INFO sqlalchemy.engine.Engine INSERT INTO XYTable (x, y) VALUES (?, ?)
2023-05-20 17:21:17,692 INFO sqlalchemy.engine.Engine [generated in 0.00680s] [(2, 5), (3, 7), (5, 1), (4, 9)]
2023-05-20 17:21:17,701 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
# with engine.begin() as conn:
#     # conn.execute(text("CREATE TABLE XYTable (x int, y int)"))
#     conn.execute(text("INSERT INTO XYTable (x, y) VALUES (:x, :y)"), [{"x": 3, "y":6}, {"x": 3, "y":7}, {"x": 5, "y":1}, {"x": 4, "y":9}])

2023-05-19 23:24:35,798 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-19 23:24:35,851 INFO sqlalchemy.engine.Engine INSERT INTO XYTable (x, y) VALUES (?, ?)
2023-05-19 23:24:35,852 INFO sqlalchemy.engine.Engine [cached since 552.7s ago] [(3, 6), (3, 7), (5, 1), (4, 9)]
2023-05-19 23:24:35,862 INFO sqlalchemy.engine.Engine COMMIT

In [57]:
# # Fetch data from the DB...
# with engine.connect() as conn:
#     result = conn.execute(text("SELECT x,y FROM XYTable"))
#     result
#     for row in result:
#         print(f"x: {row.x}, y: {row.y}")

2023-05-20 17:47:48,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:47:48,506 INFO sqlalchemy.engine.Engine SELECT x,y FROM XYTable
2023-05-20 17:47:48,511 INFO sqlalchemy.engine.Engine [generated in 0.01000s] ()
x: 2, y: 5
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 2, y: 5
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 2, y: 5
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 2, y: 5
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 2, y: 5
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 2, y: 5
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 2, y: 5
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 3, y: 8
x: 3, y: 8
x: 5, y: 1
x: 4, y: 9
x: 2, y: 5
x: 3, y: 7
x: 5, y: 1
x: 4, y: 9
2023-05-20 17:47:48,515 INFO sqlalchemy.engine.Engine ROLLBACK

In [23]:
# # Sending Parameters
# with engine.connect() as conn:
#     result = conn.execute(text("SELECT x, y FROM XYTable WHERE y > :y"), {"y": 7})
#     for dictMapping in result.mappings():
#         print(dictMapping)

2023-05-19 23:57:29,731 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-19 23:57:29,733 INFO sqlalchemy.engine.Engine SELECT x, y FROM XYTable WHERE y > ?
2023-05-19 23:57:29,735 INFO sqlalchemy.engine.Engine [cached since 14.19s ago] (7,)
{'x': 4, 'y': 9}
{'x': 4, 'y': 9}
{'x': 4, 'y': 9}
{'x': 4, 'y': 9}
{'x': 4, 'y': 9}
{'x': 4, 'y': 9}
{'x': 4, 'y': 9}
{'x': 4, 'y': 9}
2023-05-19 23:57:29,737 INFO sqlalchemy.engine.Engine ROLLBACK

In [58]:
#Executing with an ORM Session
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM XYTable WHERE y > :y ORDER BY x, y")

with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(row)

2023-05-20 17:48:31,681 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:48:31,704 INFO sqlalchemy.engine.Engine SELECT x, y FROM XYTable WHERE y > ? ORDER BY x, y
2023-05-20 17:48:31,709 INFO sqlalchemy.engine.Engine [generated in 0.00596s] (6,)
(3, 7)
(3, 8)
(3, 8)
(3, 8)
(3, 8)
(3, 8)
(3, 8)
(3, 8)
(3, 8)
(3, 8)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
2023-05-20 17:48:31,712 INFO sqlalchemy.engine.Engine ROLLBACK

In [59]:
with Session(engine) as session:
    session.execute(text("UPDATE XYTable SET y=:y WHERE x=:x"), [{"x": 3, "y": 8}])
    session.commit()

2023-05-20 17:48:37,895 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:48:37,897 INFO sqlalchemy.engine.Engine UPDATE XYTable SET y=? WHERE x=?
2023-05-20 17:48:37,899 INFO sqlalchemy.engine.Engine [generated in 0.00196s] (8, 3)
2023-05-20 17:48:37,903 INFO sqlalchemy.engine.Engine COMMIT

In [77]:
from sqlalchemy import MetaData

metadata_obj = MetaData()

In [78]:
from sqlalchemy import Table, Column, Integer, String
user_table = Table("user_account", metadata_obj, 
                   Column("id", Integer, primary_key=True),
                   Column("name", String(30)),
                   Column("fullname", String))

In [79]:
from sqlalchemy import ForeignKey

address_table = Table("address", metadata_obj,
                      Column("id", Integer, primary_key=True),
                      Column("user_id", ForeignKey("user_account.id"), nullable=False),
                      Column("address", String, nullable=False), extend_existing=True)

In [80]:
metadata_obj.create_all(engine)

2023-05-20 17:55:50,396 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:55:50,411 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2023-05-20 17:55:50,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:50,419 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")
2023-05-20 17:55:50,420 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:50,422 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2023-05-20 17:55:50,424 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:50,426 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2023-05-20 17:55:50,427 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:50,429 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2023-05-20 17:55:50,431 INFO sqlalchemy.engine.Engine [no key 0.00209s] ()
2023-05-20 17:55:50,437 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2023-05-20 17:55:50,438 INFO sqlalchemy.engine.Engine [no key 0.00090s] ()
2023-05-20 17:55:50,441 INFO sqlalchemy.engine.Engine COMMIT

In [76]:
metadata_obj.drop_all(engine)

2023-05-20 17:55:32,013 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:55:32,015 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2023-05-20 17:55:32,017 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:32,018 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")
2023-05-20 17:55:32,020 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:32,024 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2023-05-20 17:55:32,026 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:32,028 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2023-05-20 17:55:32,029 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:32,031 INFO sqlalchemy.engine.Engine COMMIT

In [35]:
from sqlalchemy.orm import DeclarativeBase
class Base(DeclarativeBase):
    pass

In [ ]:
from typing import List
from typing import Optional
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship

class User(Base):
    __tablename__ = "user_account"

    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    full_name: Mapped[Optional[str]]
    address: Mapped[List["Address"]] = relationship(back_populates="user")

    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"
    
class Address(Base):
    __tablename__ = "address"

    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str]
    user_id = mapped_column(ForeignKey("user_account.id"))

    user: Mapped[User] = relationship(back_populates="addresses")

    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [42]:
Base.metadata.create_all(engine)

2023-05-20 17:16:56,042 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:16:56,065 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2023-05-20 17:16:56,076 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:16:56,079 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")
2023-05-20 17:16:56,080 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:16:56,081 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2023-05-20 17:16:56,082 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:16:56,084 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2023-05-20 17:16:56,085 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:16:56,090 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	full_name VARCHAR,
	PRIMARY KEY (id)
)


2023-05-20 17:16:56,091 INFO sqlalchemy.engine.Engine [no key 0.00139s] ()
2023-05-20 17:16:56,096 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2023-05-20 17:16:56,097 INFO sqlalchemy.engine.Engine [no key 0.00099s] ()
2023-05-20 17:16:56,103 INFO sqlalchemy.engine.Engine COMMIT

In [75]:
Base.metadata.drop_all(engine)

2023-05-20 17:55:14,491 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:55:14,495 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2023-05-20 17:55:14,497 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:14,500 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2023-05-20 17:55:14,501 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-20 17:55:14,504 INFO sqlalchemy.engine.Engine
DROP TABLE address
2023-05-20 17:55:14,505 INFO sqlalchemy.engine.Engine [no key 0.00094s] ()
2023-05-20 17:55:14,510 INFO sqlalchemy.engine.Engine
DROP TABLE user_account
2023-05-20 17:55:14,511 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2023-05-20 17:55:14,514 INFO sqlalchemy.engine.Engine COMMIT

In [82]:
from sqlalchemy import insert
stmt = insert(user_table).values(name="spongebob", fullname="Spongebob Squarepants")

In [83]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

2023-05-20 17:56:11,405 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 17:56:11,415 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2023-05-20 17:56:11,424 INFO sqlalchemy.engine.Engine [generated in 0.01904s] ('spongebob', 'Spongebob Squarepants')
2023-05-20 17:56:11,434 INFO sqlalchemy.engine.Engine COMMIT

In [89]:
with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),[
            {"name": "sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"},
         ],
         )
    conn.commit()

2023-05-20 18:00:31,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 18:00:31,464 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2023-05-20 18:00:31,466 INFO sqlalchemy.engine.Engine [generated in 0.00542s] [('sandy', 'Sandy Cheeks'), ('patrick', 'Patrick Star')]
2023-05-20 18:00:31,470 INFO sqlalchemy.engine.Engine COMMIT

In [105]:
from sqlalchemy import bindparam, select
scalar_sqbq = (
    select(user_table.c.id)
    .where(user_table.c.name == bindparam("username"))
    .scalar_subquery()
    )
with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_sqbq),
        [
            {
                "username": "spongebob",
                "address": "spongebob@sqlalchemy.org"
            },
            {"username": "sandy", "address": "sandy@sqlalchemy.org"},
            {"username": "sandy", "address": "sandy@squirrelpower.org"},   
        ],
    )
    conn.commit()

2023-05-20 18:30:38,085 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-20 18:30:38,095 INFO sqlalchemy.engine.Engine INSERT INTO address (user_id, address) VALUES ((SELECT user_account.id
FROM user_account
WHERE user_account.name = ?), ?)
2023-05-20 18:30:38,102 INFO sqlalchemy.engine.Engine [cached since 144.4s ago] [('spongebob', 'spongebob@sqlalchemy.org'), ('sandy', 'sandy@sqlalchemy.org'), ('sandy', 'sandy@squirrelpower.org')]
2023-05-20 18:30:38,115 INFO sqlalchemy.engine.Engine COMMIT

In [107]:
with engine.connect() as conn:
    stmt = select(user_table.c.id).where(user_table.c.name == "username")
    result = conn.execute(
        insert(address_table).values([{"username": "sandy", "address": "sandy@123"}]).from_select("user_id", stmt)
    )
    print(result)

InvalidRequestError: Can't mix single and multiple VALUES formats in one INSERT statement; one style appends to a list while the other replaces values, so the intent is ambiguous.

In [2]:
import os, requests
with open(".env", "r") as file:
    for env in file.readlines():
        tmp = env.split()[0].split("=")
        os.environ[tmp[0]] = tmp[1]

THEMOVIEDB_API_KEY = os.environ['THEMOVIEDB_API_KEY']
print(THEMOVIEDB_API_KEY)

eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMjY4MWFhN2Y0NjA3YWY3MTcwYTZlZTMxMmNjMmUyMyIsInN1YiI6IjY0NmEyOTRmZDE4NTcyMDBlNWE0OGE5OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.aPtRef_clQ42-JDQIPGbwdBqpknUFjEQ5wp9Ev4DP1g

In [3]:
header = {
    "Authorization": f"Bearer {THEMOVIEDB_API_KEY}"
}
params = {
    "query": "a"
}
url = "https://api.themoviedb.org/3/search/movie"
response = requests.get(url, params=params, headers=header)
print(response.url)

https://api.themoviedb.org/3/search/movie?query=a

In [ ]:
response_dict = response.json()
print(response.json())

In [4]:
movie_id = 11
url = f"https://api.themoviedb.org/3/movie/{movie_id}"
response = requests.get(url, headers=header)

In [5]:
response.json()
movie_json = {}
new_movie = Movie(
    title=movie_json.get('title'),
    year=movie_json.get('release_date'),
    description=movie_json.get('overview'),
    img_url=f"https://image.tmdb.org/t/p/w500{movie_json.get('poster_path')}"
)

{'adult': False,
 'backdrop_path': '/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 11000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-iv-a-new-hope',
 'id': 11,
 'imdb_id': 'tt0076759',
 'original_language': 'en',
 'original_title': 'Star Wars',
 'overview': 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.',
 'popularity': 88.839,
 'poster_path': '/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 25,
   'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
   'name': '20th Century Fox',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1977-05-25',
 'revenue': 775398007,
 'runtime': 121,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'A long time ago in a galaxy far, far away...',
 'title': 'Star Wars',
 'video': False,
 'vote_average': 8.208,
 'vote_count': 18636}